<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="UTF-8"/>
<title>Vets List</title>
</head>
<body>
<!-- /*@thymesVar id="vet" type="com.ashwani.model.Vet"*/ -->
	<h1 th:text="'List of Vets'">List of Vets..</h1>
	<table class="table table-striped">
			<thead>
			<tr>
			<th>ID</th>
			<th>FirstName</th>
			<th>LastName</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="vet:${vets}">
				<td th:text="${vet.id}">1</td>
				<td th:text="${vet.FirstName}">Ashwani</td>
				<td th:text="${vet.LastName}">Pandey</td>
				</tr>
			</tbody>
		</table>
</body>
</html>